{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "plugins": ["@typescript-eslint", "prettier", "react"],
  "settings": {
    "react": { "pragma": "h" }
  },
  "rules": {
    "react/react-in-jsx-scope": "off"
  }
}
