{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true
  },
  "extends": ["plugin:@typescript-eslint/recommended"],
  "plugins": ["@typescript-eslint", "prettier", "react"],
  "settings": {
    "react": { "pragma": "h" }
  }
}
